/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define AS(keycode) &as LS(keycode) keycode     // Autoshift Macro

#define BASE 0
#define SYMBOLS 1      // lower_layer
#define NAVIGATION 2   // raise_layer

/ {
    behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTO_SHIFT";
            #binding-cells = <2>;
            tapping_term_ms = <135>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        td0: shift_caps_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_SHIFT_CAPS";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&kp CAPS>;
        };
    };
    
    macros {
        workspace_left: workspace_left {
            label = "ZM_MAC_OS_WORKSPACE_LEFT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp Z &kp M &kp K>
                , <&macro_release &kp LSHFT>
                ;
        };
        workspace_right: workspace_right {
            label = "ZM_MAC_OS_WORKSPACE_RIGHT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp Z &kp M &kp K>
                , <&macro_release &kp LSHFT>
                ;
        };
    };
        
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -----------------------------------------------------------------------------------------
// | TAB(tap)/Alt(hold) |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |          `            |
// | CTRL               |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |          '            |
// | SHFT/CAPS TAPDANCE |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC(tap)/Shift)(hold) |
//                                 | GUI | NAV | SPC |   | ENT | SYMB  | BS |
        bindings = <
   &mt LALT TAB   AS(Q) AS(W) AS(E) AS(R) AS(T)   AS(Y) AS(U)  AS(I)       AS(O)   AS(P)    &kp BSPC
   &kp LCTRL      AS(A) AS(S) AS(D) AS(F) AS(G)   AS(H) AS(J)  AS(K)       AS(L)   &kp SEMI &kp SQT
   &td0           AS(Z) AS(X) AS(C) AS(V) AS(B)   AS(N) AS(M)  &kp COMMA   &kp DOT &kp FSLH &mt RSHIFT ESC
                  &kp LGUI &mo NAVIGATION &kp SPACE   &kp RET  &mo SYMBOLS &kp BS
                >;
        };
        lower_layer {
// ------------------------------------------------------------------------------------------------------------------------------------------
// |          |           |  <       |  $       |  >        |         |   |          |   [      |    _      |    ]     |         |    `     |
// |   -      |  \        |  (       |  "       |  )        |  #      |   |    %     |   {      |    =      |    }     |   "|"   |    ;     |
// |          |           |  :       |  *       |  +        |  .      |   |    ,     |   &      |    ^      |    ~     |    ?    |    !     |
//                                          |  GUI   |      | SPC     |   | ENT      |          |   BS    |
        bindings = <
    &none       &none      &kp LT      &kp DLLR   &kp GT      &none         &none       &kp LBKT   &kp UNDER  &kp LBKT   &none      &kp GRAVE
    &kp MINUS   &kp BSLH   &kp LPAR    &kp DQT    &kp RPAR    &kp POUND     &kp PRCNT   &kp LBRC   &kp EQUAL  &kp RBKT   &kp PIPE   &kp SEMI
    &none       &none      &kp COLON   &kp &kp    &kp PLUS    &kp DOT       &kp COMMA   &kp AMPS   &kp CARET  &kp TILDE  &kp QMARK  &kp EXCL
                  &kp LGUI &trans &kp SPACE       &kp RET  &trans  &kp BS 
                >;
        };

        raise_layer {
// -----------------------------------------------------------------------------------------
// |       |     |  7  |  8  |  9  |  *  |   |  +  | PL/PAU | VDN | VUP | MUT |      |
// | LCTRL |     |  4  |  5  |  6  |  /  |   |  -  |  LFT   | DWN |  UP | RGT |      |
// | LSHFT |     |  1  |  2  |  3  |  0  |   |  =  |   .    |  ,  |     |     |      |
//                 |  GUI  |     | SPC   |   | WS_LEFT |  WS_RIGHT    |     |
        bindings = <
    &none     &none &kp N7 &kp N8 &kp N9 &kp STAR  &kp PLUS  &kp C_PP  &kp C_VOL_DN  &kp C_VOL_UP &kp C_MUTE &none 
    &kp LCTRL &none &kp N4 &kp N5 &kp N6 &kp FSLH  &kp MINUS &kp LFT   &kp DWN       &kp UP       &kp RIGHT  &none 
    &kp LSHFT &none &kp N1 &kp N2 &kp N3 &kp N0    &kp EQUAL &kp DOT   &kp COMMA     &none        &none      &none
        &kp LGUI &trans &kp SPACE &workspace_left &workspace_right &none
                    >;
            };
        };
};
